body {
    width: 100%;
    height: 100%;
    background-color: #444B54 !important;
}

h1#titulo {
    color: #d1ecf7;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 70px;
}

.youtube {
    max-width: 100%;
    width: 720px;
    height: 480px;
}

@media only screen and (max-width: 480px) {
    .youtube {
        max-width: 100%;
        height: auto;
    }
}
