#btn-bars,
#btn-search {
	display: none;
}

#bottom-ad .btn {
	min-width: 164px;
	height: 44px;
	border-radius: 0px;
}

#bottom-ad .btn:hover {
	background-color: forestgreen;
	transition: 1s ease;
	border-color: aliceblue;
}

#bottom-ad .btn-cor1 {
	color: #fffef7;
	background-color: #36486b;
}

#bottom-ad .btn-cor2 {
	color: #fefbd8;
	background-color: #4040a1;
}

@media only screen and (max-width: 880px) {
	#btn-bars,
	#btn-search {
		color: #fff;
		font-size: 20px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;
	}
	#btn-bars {
		left: 4px;
	}
	#btn-search {
		right: 4px;
	}
	#bottom-ad .btn {
		min-width: 104px;
		height: 44px;
		border-radius: 0px;
	}
}