.row-menu {
	top: 35px;
	position: relative;
}

#menu {
	color: #FFF;
	font-family: 'Khand', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.2em;
}

#menu li {
	display: inline-block;
	padding: 10px 15px;
	font-size: 1em;
}

#menu li a {
	color: #ffffff;
	text-decoration: none;
}

#menu li a:hover {
	color: #f0d608;
	transition: all .5s;
}